.main {
    margin: 0 1em 0em 1em;
}

.main--gradient {
    background-color:#4b3832; 
    background: linear-gradient(180deg, #fff4e6, #be9b7b, #4b3832);
    height: 100%;
    background-attachment: fixed;
}

.main__welcome {
    text-align: center;
    font-size: 2vh;
}

.main__buttons-top, .main__buttons-bottom {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.resetBtn, .colorBtn, .monoBtn, .partyBtn {
    margin: 0 2em 1em 2em;
    font-size: 1.1em;
    
}

/* GRID */
.main__container {
    display: flex;
    justify-content: center;
}

.grid {  
    display: grid;
    /* grid-template-rows: repeat(16, 1fr); */
    /* grid-template-columns: repeat(16, 1fr); */
    height: 70vh;
    width: 60vw;
    background-color: white;  
    border: 1px solid black;
}

/* .grid__element--hover:hover {
    background-color: black;
} */


.hoover__paint, .click__paint {
    margin: 1em 2em 0 2em;
    font-size: 1.1em;
}





/* #4b3832 • #854442 • #fff4e6 • #3c2f2f • #be9b7b */